<?xml version='1.0' encoding='utf-8'?>
<widget xmlns= "http://www.w3.org/ns/widgets"
        xmlns:gap= "http://phonegap.com/ns/1.0"
        id= "com.cgomez.woad"
        version= "0.2.7">

    <name>WOAD</name>
    <description>Wordpress Admin App</description>
    <author email="00.13.zkr@gmail.com" href="http://cgomez.work/">
        Cesar Gomez
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <preference name='phonegap-version' value='cli-5.1.1' />
    <preference name="Fullscreen"               value="false" />
    <preference name="DisallowOverscroll"       value="true"/> 
    <preference name="Orientation"              value="portrait" />
    <preference name="HideKeyboardFormAccessoryBar" value="false"/>
    <preference name="stay-in-webview"          value="true" />
    <preference name="ios-statusbarstyle"       value="black-opaque" />        
    
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.vibration" /> 
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name='org.crosswalk.engine' version='1.3.0' source='pgb' />
</widget>
